/* tags */
body {
    text-align: center;
}
/* IDs */
#login {
    background-color: rosybrown;
    color: white;
}

#registre {
    background-color: rosybrown;
    color: white;
}
/* classes */
.copy {
    font-size: 8px;
}